Rework documentation

- [x] Remove icons at headings
- [x] Make the logo a bit smaller (@blu3beri)
- [x] Add implemented and WIP features, with link to RFC if possible (@TimoGlastra)
- [ ] Add Introduction
- [x] Requirements -> Getting started with subheadings of NodeJS and React Native
- [x] Requirements for NodeJS
- [x] Requirements for React Native
- [ ] DEVREADME
	- [ ] Logging
	- [ ] Docker setup
	- [ ] Testing
- [ ] Gitbooks 
- [x] Libindy setup
	- [x] Windows
	- [x] MacOS
	- [x] Linux ( Most popular distros)
	- [x] Android
	- [x] iOS


# Features (WIP)

- ✅ React Native
- ✅ Node.JS
- ✅ Issue Credential Protocol ([RFC 0036](https://github.com/hyperledger/aries-rfcs/blob/master/features/0036-issue-credential/README.md))
- ✅ Present Proof Protocol ([RFC 0037](https://github.com/hyperledger/aries-rfcs/tree/master/features/0037-present-proof/README.md))
- ✅ Connection Protocol ([RFC 0160](https://github.com/hyperledger/aries-rfcs/blob/master/features/0160-connection-protocol/README.md))
- ✅ Basic Message Protocol ([RFC 0095](https://github.com/hyperledger/aries-rfcs/blob/master/features/0095-basic-message/README.md))
- ✅ Indy Credentials (with `did:sov` support)
- ✅ HTTP Transport
- 🚧 Revocation of Indy Credentials
- 🚧 Mediator Coördination Protocol ([RFC 0211](https://github.com/hyperledger/aries-rfcs/blob/master/features/0211-route-coordination/README.md))
- 🚧 WebSocket Transport
- ❌ Browser environments


I'm not sure where the following should be placed, but it may be useful to document what's not supported yet:

<details>
  <summary>Full list of not yet supported features</summary>
  
- Issue Credential Protocol v2.0 ([RFC 0453](https://github.com/hyperledger/aries-rfcs/blob/master/features/0453-issue-credential-v2/README.md))
	- Indy Credentials ([RFC 0592](https://github.com/hyperledger/aries-rfcs/blob/master/features/0592-indy-attachments/README.md))
	- JSON-LD Credentials ([RFC 0593](https://github.com/hyperledger/aries-rfcs/blob/master/features/0593-json-ld-cred-attach/README.md))
- Present Proof Protocol v2.0 ([RFC 0454](https://github.com/hyperledger/aries-rfcs/blob/master/features/0454-present-proof-v2/README.md))
	- Indy Credentials  ([RFC 0592](https://github.com/hyperledger/aries-rfcs/blob/master/features/0592-indy-attachments/README.md))
	- Presentation Exchange ([RFC 0510](https://github.com/hyperledger/aries-rfcs/blob/master/features/0510-dif-pres-exch-attach/README.md))
- DIDExchange Protocol ([RFC 0023](https://github.com/hyperledger/aries-rfcs/blob/master/features/0023-did-exchange/README.md))
</details>

> I'm not sure where the following should be placed, but it may be useful to document what's not supported yet:

I would say the same as `Browser environments`. Do we want to mention every item that is not supported or only the major items?

